<!DOCTYPE html>
<html lang="en" xmlns:th:="http://www.thymeleaf.org/" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:spring="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Registration Form</title>
</head>
<body>
<form  action="#" th:action="@{/user/registrationHandler}" th:object="${registrationDummie}" method="post">
    <div>
        <label>USERNAME</label>
        <input type="text" th:field="*{name}"/>
    </div>
    <div >
        <label>PASSWORD</label>
        <input type="text" th:field="*{password}"/>
    </div>

    <button type="submit" id="submit">register</button>
</form>

</body>
</html>